<html ng-app="myApp">

<head>
	<script type="text/javascript" src="angular.min.js"></script> <!-- remember to include this in root folder -->
	<script type="text/javascript" src="app.js"></script>
	<title>Angular Testing Control Scopes</title>

</head>

<body>
	
	<div ng-controller="DivideCtrl">
		<div>
		Enter Value 1: <input type="text" ng-model="numberData.value1" />
		</div>
		<div>
		Enter Value 2: <input type="text" ng-model="numberData.value2" />
		</div>
		
		<button ng-click=divide(numberData.value1,numberData.value2) >
			Press to Calculate {{ numberData.value1 }} / {{numberData.value2 }}
		</button>
	</div>
		
		<button ng-click=divide(numberData.value1,numberData.value2) >
			Press to Calculate {{ numberData.value1 }} / {{numberData.value2 }}
		</button>	
	
</body>

</html>
